.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  z-index: 2;
}

.container {
  width: 400px;
  padding: 60px;
  position: fixed;
  background: var(--primary-font-color-dark-mode);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 7px;

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 24px;
    width: 24px;
    font-size: 24px;
    background: transparent;
    cursor: pointer;
  }

  >h3 {
    margin: 10px 0;
  }
}


.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;

    .input-field {
      width: 100%;
      position: relative;
    }

    .submit,
    .input-field > input {
      padding: 12px 24px;
      width: 100%;
      font-size: 16px;
      color: var(--primary-font-color-light-mode);
      border-radius: 15px;
      background: var(--secondary-button-color-dark-mode);

      &:focus {
        outline: none;
      }
    }

    .submit {
      cursor: pointer;
      background: var(--accent-color);
      color: var(--primary-font-color-dark-mode);
    }

    .input-field > span {
      position: absolute;
      padding: 12px 24px;
      font-size: 16px;
      color: #20202079;
      left: 0;
      top: 0;
      pointer-events: none;
      transition: 0.3s;
    }

    .input-field > input:hover ~ span,
    .input-field > input:focus ~ span,
    .input-field > input:valid ~ span {
      top: -30px;
      left: -10px;
      color: var(--primary-font-color-light-mode);
      font-size: 12px;
    }
  }

  .input-help {
    font-size: 13px;
  }
}
