@mixin input-styles {
  height: 42px;
  border-radius: 5px;
  border: none;
}

@mixin align-center {
  display: flex;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 48px;
  @include align-center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 5px;
  position: sticky;
  top: 0;
  background: var(--main-background);
}

.navbar > div {
  height: 42px;
  @include align-center;
}

.app-info {
  width: 10%;
  gap: 10px;

  .logo {
    width: 36px;
    height: 36px;
    background: white;
    border-radius: 50%;
  }

  .title {
    font-size: 22px;
    color: var(--primary-font-color);
    white-space: nowrap;
  }
}

.user-actions {
  width: 65%;
  gap: 15px;

  > select,
  > form {
    @include input-styles;
    @include align-center();
    position: relative;
  }

  > form {
    > input {
      @include input-styles;
    }
    > svg {
      position: absolute;
      height: 24px;
      width: 24px;
      right: 10px;
      color: var(--secondary-font-color);
      cursor: pointer;
    }
  }

  .select {
    width: 20%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    .dropdown-icon {
      font-size: 8px;
      font-weight: 400;
      height: 8px;
      line-height: 8px;
      vertical-align: middle;
      width: 8px;
      border-bottom: 2px solid var(--primary-font-color);
      border-right: 2px solid var(--primary-font-color);
      transform: rotate(45deg);
      transform-origin: right; 
      position: absolute;
      right: 10px;
    }
  }

  .your-communities {
    background: transparent;
    color: var(--primary-font-color);
    padding: 10px 20px;
    appearance: none;
    width: 100%;

    &:focus {
      outline: none;
    }

    >option {
      background: transparent;
      color: red;
      font-size: 20px;
      
      &:hover, &:active, &:focus {
        background: red;
      }
    }
  }

  .search-bar {
    width: 80%;

    > input {
      width: 100%;
      height: 40px;
      padding: 10px 20px;
      background: var(--primary-color);
    }
  }
}

.quick-access {
  width: 10%;
  justify-content: flex-end;
  gap: 5px;

  .quick-access-btn {
    @include align-center();
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background: var(--main-background);
    font-size: 24px;
    color: var(--secondary-font-color);
    cursor: pointer;

    &:hover {
      background: var(--hover-color);
    }
  }
}

.user-dropdown, .select {
  @include align-center();
  flex-direction: row;
  text-align: left;
  width: 100%;
  background: transparent;
  padding-left: 5px;
  cursor: pointer;
  height: 100%;

  .outer-span {
    @include align-center();
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;

    >span {
      @include align-center();
      flex-direction: row;
      gap: 10px;

      >span {
        @include align-center();
        flex-direction: column;
        width: 100%;

        .dropdown {
          width: 100%;
          max-height: 750px;
          height: auto;
          background: var(--primary-color);
          position: absolute;
          left: 0;
          top: 32px;
          padding-bottom: 8px;
          padding-top: 8px;
          overflow-y: auto;
          border-radius: 7px;
          border: 1px solid var(--primary-button-color);

          .title {
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
            padding-left: 22px;
            height: 40px;
            color: var(--secondary-font-color);
          }

          .option {
            color: var(--primary-font-color);
            display: block;
            height: 40px;
            width: 100%;
            border: 0;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            align-items: center;
            display: flex;
            padding-right: 24px;
            padding-left: 52px;
            background: transparent;
            justify-content: space-between;
          
            &:hover {
              background: var(--hover-color);
            }
          }
        }
        
        >span {
          @include align-center();
          justify-content: start;
          width: 100%;
          color: var(--primary-font-color);
        }
      }
    }

    .dropdown-icon {
      font-size: 8px;
      font-weight: 400;
      height: 8px;
      line-height: 8px;
      vertical-align: middle;
      width: 8px;
      border-bottom: 2px solid var(--primary-font-color);
      border-right: 2px solid var(--primary-font-color);
      transform: rotate(45deg);
      transform-origin: right;
      position: absolute;
      right: 6px;
    }
  }
}

.user-profile {
  width: 15%;
  gap: 10px;
  flex-direction: row-reverse;
  justify-content: start;

  .dropdown {
    width: 100%;
    background: transparent;
    font-size: 20px;
    color: var(--secondary-font-color)
  }

  .user-info {
    @include align-center();
    flex-direction: column;
    justify-content: start;
    color: var(--primary-font-color);
    font-size: 14px;
    width: 100%;
  }

  .profile-picture {
    min-width: 36px;
    min-height: 36px;
    background: white;
    border-radius: 50%;
  }

  .login-signup-options {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;

    .login-btn, .signup-btn {
      height: min-content;
      padding: 7.5px 15px;
      background: var(--accent-color);
      color: var(--primary-font-color);
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      flex: 1;
    }
  }
}

@media only screen and (max-width: 600px) {
  .app-info {
    width: 10%;
  
    .logo {
      min-width: 40px;
      min-height: 40px;
      background: white;
      border-radius: 50%;
    }
  
    .title {
      display: none;
    }
  }

  .user-actions {
    width: 35%;
    gap: 15px;
  
    > select,
    > form,
    > form > input {
      @include input-styles;
    }
  
    .your-communities {
      width: 10%;
      background: transparent;
      color: var(--primary-font-color);
      padding: 10px 20px;
    }
  
    .search-bar {
      width: 90%;
  
      > input {
        width: 100%;
        height: 40px;
        padding: 10px 20px;
        background: var(--primary-color);
      }
    }
  }
}