.navbar {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 5px;
  position: sticky;
  top: 0;
  background: var(--main-background);
}

.navbar > div {
  height: 42px;
  display: flex;
  align-items: center;
}

.app-info {
  width: 10%;
  gap: 10px;
}
.app-info .logo {
  width: 36px;
  height: 36px;
  background: white;
  border-radius: 50%;
}
.app-info .title {
  font-size: 22px;
  color: var(--primary-font-color-dark-mode);
  white-space: nowrap;
}

.user-actions {
  width: 65%;
  gap: 15px;
}
.user-actions > select,
.user-actions > form {
  height: 42px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
}
.user-actions > form > input {
  height: 42px;
  border-radius: 5px;
  border: none;
}
.user-actions > form > svg {
  position: absolute;
  height: 24px;
  width: 24px;
  right: 10px;
  color: var(--secondary-font-color-dark-mode);
  cursor: pointer;
}
.user-actions .your-communities {
  width: 20%;
  background: transparent;
  color: var(--primary-font-color-dark-mode);
  padding: 10px 20px;
}
.user-actions .search-bar {
  width: 80%;
}
.user-actions .search-bar > input {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  background: var(--primary-color-dark-mode);
}

.quick-access {
  width: 10%;
  justify-content: flex-end;
  gap: 5px;
}
.quick-access .quick-access-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: var(--main-background);
  font-size: 24px;
  color: var(--secondary-font-color-dark-mode);
  cursor: pointer;
}
.quick-access .quick-access-btn:hover {
  background: var(--hover-color);
}

.user-profile {
  width: 15%;
  gap: 10px;
  flex-direction: row-reverse;
  justify-content: start;
}
.user-profile .dropdown {
  width: 100%;
  background: transparent;
  font-size: 20px;
  color: var(--secondary-font-color-dark-mode);
}
.user-profile .user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  color: var(--primary-font-color-dark-mode);
  font-size: 14px;
  width: 100%;
}
.user-profile .user-info .user-dropdown {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;
  width: 100%;
  background: transparent;
  padding-left: 5px;
  cursor: pointer;
}
.user-profile .user-info .user-dropdown .outer-span {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.user-profile .user-info .user-dropdown .outer-span > span {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.user-profile .user-info .user-dropdown .outer-span > span > span {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.user-profile .user-info .user-dropdown .outer-span > span > span > span {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  color: var(--primary-font-color-dark-mode);
}
.user-profile .user-info .user-dropdown .outer-span .dropdown-icon {
  font-size: 8px;
  font-weight: 400;
  height: 8px;
  line-height: 8px;
  vertical-align: middle;
  width: 8px;
  border-bottom: 2px solid var(--primary-font-color-dark-mode);
  border-right: 2px solid var(--primary-font-color-dark-mode);
  transform: rotate(45deg);
  transform-origin: right;
  position: absolute;
  right: 6px;
}
.user-profile .profile-picture {
  min-width: 36px;
  min-height: 36px;
  background: white;
  border-radius: 50%;
}
.user-profile .login-signup-options {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}
.user-profile .login-signup-options .login-btn, .user-profile .login-signup-options .signup-btn {
  height: -moz-min-content;
  height: min-content;
  padding: 7.5px 15px;
  background: var(--accent-color);
  color: var(--primary-font-color-dark-mode);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .app-info {
    width: 10%;
  }
  .app-info .logo {
    min-width: 40px;
    min-height: 40px;
    background: white;
    border-radius: 50%;
  }
  .app-info .title {
    display: none;
  }
  .user-actions {
    width: 35%;
    gap: 15px;
  }
  .user-actions > select,
  .user-actions > form,
  .user-actions > form > input {
    height: 42px;
    border-radius: 5px;
    border: none;
  }
  .user-actions .your-communities {
    width: 10%;
    background: transparent;
    color: var(--primary-font-color-dark-mode);
    padding: 10px 20px;
  }
  .user-actions .search-bar {
    width: 90%;
  }
  .user-actions .search-bar > input {
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    background: var(--primary-color-dark-mode);
  }
}/*# sourceMappingURL=index.module.css.map */