.container {
  height: auto;
  margin: 48px 225px;

  .content {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 20px;

    >div {
      height: 100%;
    }

    .posts {
      display: flex;
      width: 70%;
      flex-direction: column;
      gap: 20px;

      .post {
        width: 100%;
        min-height: 175px;
        background: var(--secondary-color-dark-mode);
        border-radius: 7px;
        height: 100%;
        display: flex;
        flex-direction: row;

        .votes {
          width: 60px;
          min-height: 175px;
          height: 100%;
          background: var(--primary-color-dark-mode);
          color: var(--primary-font-color-dark-mode);
          border-top-left-radius: 7px;
          border-bottom-left-radius: 7px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          padding: 15px;
          gap: 15px;

          > button {
            background: transparent;
            width: 24px;
            height: 24px;
            font-size: 24px;
            color: var(--secondary-font-color-dark-mode);
          }
        }

        .post-content {
          display: flex;
          flex-direction: column;

          .post-author, .post-actions {
            height: max-content;
          }

          .post-author {
            padding: 7.5px 15px;
            .community-name, .author {
              color: var(--secondary-font-color-dark-mode);
              font-size: 14px;
            }
          }

          .post-message {
            padding: 7.5px 15px;
            margin-bottom: auto;
            font-size: 20px;
            color: var(--primary-font-color-dark-mode);
          }

          .post-actions {
            display: flex;
            flex-direction: row;
            gap: 2.5px;

            .action {
              padding: 7.5px 15px;
              display: flex;
              align-items: center;
              gap: 5px;
              background: transparent;
              color: var(--secondary-font-color-dark-mode);
              font-size: 14px;
              cursor: pointer;

              &:hover {
                background: var(--hover-color);
              }
            }
          }
        }
      }
    }

    .community-summary {
      width: 30%;
      position: sticky;
      top: 49px;

      .summary {
        width: 100%;
        min-height: 300px;
        background-color: var(--secondary-color-dark-mode);
        border-radius: 7px;

        .community-image {
          width: 100%;
          height: 90px;
          border-top-left-radius: 7px;;
          border-top-right-radius: 7px;;
          background-image:url(https://w0.peakpx.com/wallpaper/789/352/HD-wallpaper-sugar-pop-art-graffiti-stickers-colorful.jpg);
          object-fit: cover;
          background-repeat: no-repeat;
          background-size: 100%;
          background-position-y: -420px;
        }

        .inner-content {
          display: flex;
          padding: 15px;
          flex-direction: column;
          gap: 15px;

          .community-name, .summary-content {
            color: var(--primary-font-color-dark-mode);
          }

          .summary-content {
            font-size: 18px;
          }

          .btn {
            width: 100%;
            height: 55px;
            font-size: 20px;
            border-radius: 7px;
            cursor: pointer;
          }

          .create-post {
            background: var(--primary-button-color-dark-mode);
            color: var(--font-color-light-mode);

            &:hover {
              background: #a8a8a8;
            }
          }

          .create-community {
            background: var(--secondary-color-dark-mode);
            border: 1px solid var(--primary-button-color-dark-mode);
            color: var(--primary-font-color-dark-mode);

            &:hover {
              background: #353535;
            }
          }
        }
      }
    }
  }
}