.container {
  height: auto;
  margin: 48px 300px;
}
.container .content {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 20px;
}
.container .content > div {
  height: 100%;
}
.container .content .posts {
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 20px;
}
.container .content .posts .post {
  width: 100%;
  min-height: 175px;
  background: var(--secondary-color);
  border-radius: 7px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.container .content .posts .post .votes {
  width: 60px;
  min-height: 175px;
  height: 100%;
  background: var(--primary-color);
  color: var(--primary-font-color);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 15px;
  gap: 15px;
}
.container .content .posts .post .votes > button {
  background: transparent;
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: var(--secondary-font-color);
  cursor: pointer;
}
.container .content .posts .post .post-content {
  display: flex;
  flex-direction: column;
}
.container .content .posts .post .post-content .post-author, .container .content .posts .post .post-content .post-actions {
  height: -moz-max-content;
  height: max-content;
}
.container .content .posts .post .post-content .post-author {
  padding: 7.5px 15px;
}
.container .content .posts .post .post-content .post-author .community-name, .container .content .posts .post .post-content .post-author .author {
  color: var(--secondary-font-color);
  font-size: 14px;
}
.container .content .posts .post .post-content .post-message {
  padding: 7.5px 15px;
  margin-bottom: auto;
  font-size: 20px;
  color: var(--primary-font-color);
}
.container .content .posts .post .post-content .post-actions {
  display: flex;
  flex-direction: row;
  gap: 2.5px;
}
.container .content .posts .post .post-content .post-actions .action {
  padding: 7.5px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  background: transparent;
  color: var(--secondary-font-color);
  font-size: 14px;
  cursor: pointer;
}
.container .content .posts .post .post-content .post-actions .action:hover {
  background: var(--hover-color);
}
.container .content .community-summary {
  width: 30%;
  position: sticky;
  top: 49px;
  z-index: -1;
}
.container .content .community-summary .summary {
  width: 100%;
  min-height: 300px;
  background-color: var(--secondary-color);
  border-radius: 7px;
}
.container .content .community-summary .summary .community-image {
  width: 100%;
  height: 90px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-image: url(https://w0.peakpx.com/wallpaper/789/352/HD-wallpaper-sugar-pop-art-graffiti-stickers-colorful.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -420px;
}
.container .content .community-summary .summary .inner-content {
  display: flex;
  padding: 15px;
  flex-direction: column;
  gap: 15px;
}
.container .content .community-summary .summary .inner-content .community-name, .container .content .community-summary .summary .inner-content .summary-content {
  color: var(--primary-font-color);
}
.container .content .community-summary .summary .inner-content .summary-content {
  font-size: 18px;
}
.container .content .community-summary .summary .inner-content .btn {
  width: 100%;
  height: 55px;
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
}
.container .content .community-summary .summary .inner-content .create-post {
  background: var(--primary-button-color);
  color: var(--tertiary-font-color);
}
.container .content .community-summary .summary .inner-content .create-post:hover {
  background: #a8a8a8;
}
.container .content .community-summary .summary .inner-content .create-community {
  background: var(--secondary-color);
  border: 1px solid var(--primary-button-color);
  color: var(--primary-font-color);
}
.container .content .community-summary .summary .inner-content .create-community:hover {
  background: #353535;
}/*# sourceMappingURL=index.module.css.map */