@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Ubuntu&family=Varela&display=swap');

:root {
  --main-background: #303030;
  --accent-color: #6c55f0;
  --hover-color: #202020;
  /* dark mode */
  --primary-font-color: #FAFAFA;
  --secondary-font-color: #707070;
  --tertiary-font-color: #202020;
  --primary-color: #262626;
  --secondary-color: #282828;
  --primary-icon-color: #707070;
  --primary-button-color: #C8CBCD;
  --secondary-button-color: #e9e9e9;
}

[data-theme="light"] {
  --primary-font-color: #FAFAFA;
  --secondary-font-color: #707070;
  --tertiary-font-color: #202020;
  --primary-color: red;
  --secondary-color: #282828;
  --primary-icon-color: #707070;
  --primary-button-color: #C8CBCD;
  --secondary-button-color: #e9e9e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;

  font-family: 'Inter', sans-serif;
}

html {
  background: var(--main-background);
}

.no-scroll {
  overflow: hidden;
}